@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --orange:#ffa742;
  --blue: #1e4059;
  --white: #edeff3;
  --darkblue: #222b38;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

iframe {
  outline: none!important;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


/* COLORES */
.orange-bg {
  background-color: var(--orange)
}
.blue-bg {
  background-color: var(--blue)
}
.white-bg {
  background-color: var(--white)
}
.darkblue-bg {
  background-color: var(--darkblue)
}
.orange-text {
  color: var(--orange);
}
.blue-text {
  color: var(--blue);
}
.white-text {
  color: var(--white);
}
.darkblue-text {
  color: var(--darkblue);
}

body {background-color: var(--white);
}

p {
  color: var(--white)
}

.parallax-bg {
  background-image: url('../../public/assets/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 50%;
}
/*    NAVBAR    */
.logo-navbar {
  max-width: 15em;
} 
.navbar-links {
  justify-content: flex-end;
  color: var(--blue);
}

/*    HERO SECTION    */
.text-hero {
  color: var(--white);
}
.btn-hero {
  border: 6px solid rgb(251 146 60);
  background-color: rgb(251 146 60);
  color: var(--white);
  border-radius: 6px;
  padding: 0.25rem;
}
.container-botones {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}


/*    CARDS CRYPTO    */
.crypto-card {
  width: 235px;
  border-radius: 1rem;
  margin: 0 2rem;
  height: 3rem;
}
.card-img {
  display: grid;
  place-items: center;
  max-width: 50px;
  aspect-ratio: 1;
}
.card-img img {
  width: 30px;
  height: 30px;
}
.positivo {
  color:green;
}
.negativo {
  color:rgb(167, 0, 0)
}
h3 {
  margin:0!important;
}
/*    ABOUT SECTION   */
.title-about {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--darkblue)
}
.about-text div p {
  color: #222b38;
}

/*    LINKS UTILES    */
.links-utiles{
  display: grid;
  place-items: center;
}

.shadow {
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.71);
}

/*    FOOTER    */
.footer{
  min-height: 8rem;
}
.footer-logo {
  display: grid;
  place-items: center;
  max-width: 30%;
}
.social-icon {
  width: 40px!important;
  height: 40px!important;
}

/*    PORTAL NOTICIAS   */
.portal-texto {
  display: grid;
  width:70%;
  grid-template-columns:150px 1fr;
}
.portal-noticias{
  margin-left: 1rem;
}
.portal-noticias div p{
  @apply darkblue-text
}
.portal {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.06em;
}
.portal-noticia{
  transition: 0.2s;
}
.portal-noticia:hover{
  text-shadow: 0px 2px 3px var(--darkblue);
}

/*    MATERIAL NOTAS HOME   */
.img-btn {
  max-width: 10rem;
  width: auto;
  aspect-ratio: 1;
}
.bg-degrade{
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, var(--blue) 100%);
}

/*    MATERIAL    */
.list-group-item{
  background-color: var(--blue)!important;
  color: var(--white)!important;
}

.list-group-item:hover{
  background-color: var(--darkblue)!important;
}





@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}